body {
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: center;
    background-color: #E554731A;

}

.banner-container .banner-img {
    width: 635px;
    height: 800px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    color: black;
}

.banner-description {
    color: rgb(128, 114, 114);
    margin-top: auto;
}

button {
    font-size: 20px;
    font-weight: 700;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    padding: 20px;
}

.seconde-section {
    text-align: center;
}

.banner-title-sec {
    font-size: 30px;
    font-weight: 600;
    color: rgb(43, 37, 37);
}

.banner-description-next {
    font-size: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    padding: 60px;

}

.item-img {
    border-radius: 280px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 370px;
    height: 420px;
}

.bar-containe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 40px;
    padding: 30px;
    background-color: #2727270D;
    border-radius: 5px;
    text-align: center;
}

.bar-text {
    display: flex;

}

.banner-img {

    width: 200px;
    height: 200px;
    padding-bottom: 0px;

}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-right: 18px;
    padding-left: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

.content-title {
    color: #272727;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.content-description {
    text-align: center;
}

.btn-primary {
    text-align: center;
    margin-top: 10px;
    padding: 18px;
    align-items: center;
}

.content-item {
    text-align: center;
    margin-top: 10px;
}

.back-img {
    width: 200px;
    height: 250px;
}

.text-color {
    color: #E55473;
}

.imag-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;



}

.imag-rull {
    width: 320px;
    align-items: center;
}

#banner-text {
    text-align: center;
    margin-bottom: 40px;
}

.head-title {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.last-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.last-section {
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    text-align: center;
    margin: 100px 60px;
    padding: 80px;
    background-image: url('Flower\ Asset/Rectangle 9.png');
    background-position: ;
}

.input-item {
    align-items: center;
    padding: 16px;
    box-sizing: content-box;
    border: none;
    margin-left: 100px;
    padding-right: 200px;
}

/* this is footer section */
footer {
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    padding: 60px 120px;
    width: auto.;
    height: 300px
}

.fink-flower {
    text-align: center;
    text-decoration: underline;
}