body {
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    padding: 30px 30px 30px 150px;
    display: flex;
    background-color: #E554731A;

}

.banner-container .banner-img {
    width: 635px;
    height: 800px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    color: black;
}

.banner-description {
    color: rgb(128, 114, 114);
    margin-top: auto;
}

button {
    font-size: 20px;
    font-weight: 700;
    background-color: #E55473;
    border-radius: 5px;
    border: none;
}

.seconde-section {
    text-align: center;
}

.banner-title-sec {
    font-size: 30px;
    font-weight: 600;
    color: rgb(43, 37, 37);
}

.banner-description-next {
    font-size: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    padding: 60px;

}

.item-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 370px;
    height: 420px;
}

.bar-containe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 40px;
    padding: 30px;
    background-color: #2727270D;
    border-radius: 5px;
    text-align: center;
}

.bar-text {
    display: flex;

}

.bar-img {
    padding: 80px 120px;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.content-title {
    color: #272727;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.content-description{
    text-align: center;
}
.btn-primary{
text-align: center;
}

/* this is footer section */
footer {
    text-align: center;
    background-color: black;
    color: #FFFFFF;
    margin: 40px 100px;
    padding: 60px 120px;
    width: auto.;
    height: 300px
}

.fink-flower {
    text-align: center;
    text-decoration: underline;
}